@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
    font-family: Halvar, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 100%;
}

header {
    font-family: 'Bicubik', monospace;
    background-color: rgb(51, 51, 51);
    color: #ffffff;
    padding: 6mm 0;
    text-align: center;
    width: 100%;
    top: 0;
}

header h1,
header h2 {
    margin: 0;
}

nav {
    background-color: #333333;
    color: white;
    padding: 10px 0;
    display: flex;
    font-weight: bold;
    margin-bottom: 40px;
}

.nav-item {
    margin: 0 10px;
    flex: 1;
    text-align: center;
}

.nav-item a {
    font-family: 'Bicubik', monospace;
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
}

.nav-item a:hover {
    color: #7fadff;
}

.nav-item a.active {
    color: #7fadff;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    margin-bottom: 15px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
    margin-top: 15px;
}

.table-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    font-family: Halvar, sans-serif;
    width: 60%;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    overflow-x: auto;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 15px;
    text-align: center;
}

.form-container {
    width: 350px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

.sensors-container {
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    font-family: PT Sans, Arial, sans-serif;
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: #8c968c;
}
