<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система хранения и анализа данных с полей</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style_add_sensor_data.css">
</head>
<body>
<header>
    <h1>Система хранения и анализа данных с полей</h1>
    <h2>Добавление данных с датчиков</h2>
</header>
<main>
    <div id="nav-placeholder"></div>

    <!-- Для добавления новых данных -->
    <div class="form-container">
        <div class="form-group">
            <textarea id="sensor-data" class="form-control" rows="10" placeholder="Данные с датчиков в формате JSON"></textarea>
        </div>
        <button class="btn btn-primary mb-2" onclick="uploadSensorData()">Загрузить</button>
        <button class="btn btn-primary mb-2" onclick="uploadSensorDataFromFile()">Загрузить из файла</button>
        <div class="form-group">
            <input type="file" id="file-input" class="form-control-file">
        </div>
    </div>

    <div class="form-container mt-4">
        <h2>Добавить данные вручную:</h2>
        <div class="form-group">
            <label for="manual-field-name">Название поля</label>
            <select id="manual-field-name" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="manual-sensor-name">Название датчика</label>
            <select id="manual-sensor-name" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="manual-sensor-value">Значение</label>
            <input type="number" id="manual-sensor-value" class="form-control" placeholder="Значение">
        </div>
        <div class="form-group">
            <label for="manual-sensor-unit">Единицы измерения</label>
            <input type="text" id="manual-sensor-unit" class="form-control" placeholder="Единицы измерения">
        </div>
        <div class="form-group">
            <label for="manual-accuracy-class">Класс точности (опционально)</label>
            <input type="text" id="manual-accuracy-class" class="form-control" placeholder="Например, ±0.5%">
        </div>
        <div class="form-group">
            <label for="manual-extra-params">Дополнительные параметры (JSON, опционально)</label>
            <textarea id="manual-extra-params" class="form-control" rows="3" placeholder='Например: {"batteryLevel": "80%", "ambientTemp": 22.5}'></textarea>
        </div>
        <div class="form-group">
            <label for="manual-sensor-timestamp">Дата и время</label>
            <input type="datetime-local" id="manual-sensor-timestamp" class="form-control" placeholder="Дата и время">
        </div>
        <button class="btn btn-primary" onclick="addManualSensorData()">Добавить данные</button>
    </div>

    <br>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/add-sensor-data.js"></script>
</body>
</html>